* {
    margin: 0px;
    padding: 0px;
}

.products {

    background-color: #ffcd8a;
    position: relative;
}

.products-catagory {
    background-color: rebeccapurple;
    text-align: center;
    font-size: 27px;
    letter-spacing: 2px;
    color: white;
    border-top: 15px solid whitesmoke;
    border-bottom: 15px solid whitesmoke;
}

.products-flex {
    display: flex;
    flex-wrap: wrap;
    width: 1200px;
    margin: 0 auto;
    justify-content: center;
}

.listed-products {
    width: 23%;
    margin: 20px 10px;
}

.product-card {
    width: 100%;
    margin: 20px 0px 10px;
}

.product-card:hover {
    box-shadow: 10px -22px 5px rgba(0, 0, 0, 0.3);
}

.product-card img {
    width: 100%;
    height: 300px;
    margin-bottom: -4px;
}

.product-description {

    margin-bottom: 10px;
    border-bottom-left-radius: 53px;
    background-color: #91c4bf33;

}

.product-description p {
    text-align: center;
    padding: 5px 0px;
    color: greenyellow;
    font-size: 20px;
    border-bottom: 2px solid gray;
    cursor: pointer;
}

.product-description p:nth-child(3) {
    border-bottom: none;

}

.product-description p:hover {
    background-color: aliceblue;
    color: blueviolet;
    letter-spacing: 3px;
    font-size: 15px;
}

.product-action {
    display: flex;
    justify-content: space-around;
    margin-top: 5px;
    padding-bottom: 15px;
}

.product-action p {
    padding: 2px 20px;
    border-radius: 30px;
    background-color: oldlace;
    border: none;
}

.product-action p:hover {
    background-color: greenyellow;
    color: white;
    letter-spacing: 1px;
}

.product-action p:active {
    background-color: red;
}

.product-description p a {
    text-decoration: none;
    color: greenyellow;
}

.product-description p a:hover {
    color: white;
}

.prevbtn {
    position: absolute;
    top: 50%;
    left: 2%;
    border: none;
    font-size: 28px;
    padding: 25px 10px;
    background-color: #d942420f;
    color: #97ff0026;
    cursor: pointer;
    border-radius: 20px;
}

.nextbtn {
    position: absolute;
    top: 50%;
    right: 2%;
    border: none;
    font-size: 28px;
    padding: 25px 10px;
    background-color: #d942420f;
    color: #97ff0026;
    cursor: pointer;
    border-radius: 20px;
}

.prevbtn:hover,
.nextbtn:hover {
    background-color: #319cf940;
    color: aliceblue;
}

.catagory-box{

margin: 0 auto;
display: flex;
flex-wrap: wrap;
justify-content: center;
align-items: center;
padding: 30px 0px;
background-color: #e2fff4;
}
.catagory-box .catagory{
    background-color: #aa12c0;
padding: 20px;
font-size: 20px;
text-transform: uppercase;
margin-left: 50px;
color: white;
font-weight: bold;
}
.catagory-box .catagory p a{
    text-decoration: none;
    color: white;
}

.catagory-box .catagory:hover{
    transform: scale(1.1);
background-color: aquamarine;
color: #ff00bf;
}
.products-block{

    width: 1200px;
    margin: 0 auto;
    padding: 20px 0px;
}
.listed-block-products{
    width: 80%;
    margin: 50px 0px;
}
.block-product-card{
     display: flex;
    justify-content: space-around;
    align-items: center;
     width: 100%;
    
}
.block-product-card img{
     width: 30%;
    height: 300px;
    margin-bottom: -4px;
}
.block-product-card:hover{
    box-shadow: 10px -22px 5px rgba(0, 0, 0, 0.3);
}
.product-block-description{
    margin-bottom: 10px;
    background-color: #91c4bf33;
   border-radius: 20px;
    padding: 20px
}
.product-block-description p{
     text-align: center;
    padding: 5px 0px;
    color: greenyellow;
    font-size: 20px;
    border-bottom: 2px solid gray;
    cursor: pointer;
    width: 400px;
}
.product-block-description p:nth-child(3){
   border-bottom: none;

}

.product-block-description p:hover {
    background-color: aliceblue;
    color: blueviolet;
    letter-spacing: 3px;
    font-size: 15px;
}
.product-block-description p a {
    text-decoration: none;
    color: greenyellow;
}

.product-block-description p a:hover {
    color: white;
}
.product-block-action {
    display: flex;
    justify-content: space-around;
    margin-top: 5px;
    padding-bottom: 15px;
}

.product-block-action p {
    padding: 2px 20px;
    border-radius: 30px;
    background-color: oldlace;
    border: none;
}

.product-block-action p:hover {
    background-color: greenyellow;
    color: white;
    letter-spacing: 1px;
}

.product-block-action p:active {
    background-color: red;
}
.design{
    display: flex;
    justify-content: center;
    background-color: #ffe4c1;
}
.setvertical{
display: flex;
justify-content: center;
background-color: yellow;
}
.setvertical p{
    
    padding: 10px 5px;
    font-size: 20px;
    color: green;
    cursor: pointer;
    text-align: center;
}
.setvertical p:hover{
    color: red;
}
.filter-option {
    display: flex;
    align-items: center;    
    background-color: #e2fff4;
    flex-direction: column;
    width: 320px;
  }
  
  .sizes {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 10px 5px;
    font-size: 20px;
    cursor: pointer;
    width: 100%;
    flex-wrap: wrap;
    border-bottom: 1px solid;
  }
  
  .color-chooser {
    width: 20px;
    height: 20px;
    border-radius:50%;
    margin: 0 10px;
    cursor: pointer;
  }
  
  .prices {
    display: flex;
justify-content: space-around;
align-items: center;
width: 100%;
padding: 10px 5px;
border-bottom: 1px solid;
  }
  .prices input{
      margin: 0 10px;
  }
  .prices span {
    font-size: 20px;
    font-weight: bold;
  }
  .main-row{
    display: flex;
  
  }
  .column-1{
   background-color: antiquewhite;
  }
  .catagories{
    width:100%;
    
}
.catagories p{
    border-bottom: 2px solid; 
    padding: 10px 20px 10px;
    letter-spacing: 2px;
}
  .catagories p a{
   text-decoration: none;
text-align: left;
color: #0c0f0e;
font-size: 12px;
text-transform: uppercase;
display: block;
   font-weight: bold;
  }
  .main-p{
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-bottom: 2px solid;
    width: 100%;
    padding: 10px 5px;
    background-color: aliceblue;
  }
  .primary-p{
    text-align: center;
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 20px;
    padding: 10px 5px;
    color: brown;
    border-bottom: 2px solid;
    border-top: 2px solid;
  }